.custInput{
    border-style: solid;
    border-color: var(--ion-color-light);
    border-radius: 5px;
    }
    .cust-card{
        border-radius: 5px;
    }

    .custRow{
        margin-top: 5rem;
        }
        .custInp{
          border-right-style: solid;
            border-right-width: 0.5px;
            text-align: center;
        }

        .red{
          color:var(--ion-color-danger) 
         }
         .dark{
          color: var(--ion-color-dark)
         }
        ion-popover{
          --offset-y : -30px
        }
  .table{
       text-align: center;
    width: 100%;
    margin: 12px;
  }
  .bnone{
    border: none;
  } 
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td, th {border: 1px solid #dddddd;text-align: center;padding: 8px; font-size: 16px;font-weight: bold;color: black;}