<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> الحسابات </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  *ngIf="user_info && store_info" >
    <ion-row dir="rtl">
      <ion-col size="12">
        <ion-card  class="ion-no-padding ion-no-margin">
          <ion-grid class="ion-no-padding ion-no-margin">
            <ion-row dir="rtl"> 
                <ion-grid class="ion-no-padding ion-no-margin">
                  <ion-row>
                    <ion-col size="6" class="ion-no-padding ion-no-margin">
                      <ion-item lines="none" > 
                        <ion-label>قائمة الحسابات </ion-label> 
                      </ion-item> 
                      </ion-col> 
                  </ion-row>
                </ion-grid>  
            </ion-row>  
            <ion-row>
              <ion-col size="5" offset="2"   > 
                <ion-item class="custInput">
                  <input  *ngIf="sub_account" class="bnone" placeholder="اختر  حساب العميل" list="accountsSales" id="accountSales" [(ngModel)]="selectedAccount.sub_name"  (change)="pickAccount($event)">
                  <datalist *ngIf="sub_account" style="border: none;" id="accountsSales" style="height: auto;max-height: 20px;">
                    <option *ngFor="let ac of sub_account ; let i = index"   [value]="ac.sub_name"></option>
                  </datalist>
                  <ion-label *ngIf="!sub_account">
                    <ion-text color="danger" >خطأ في التحميل </ion-text>
                   </ion-label>
                  <ion-button  *ngIf="!sub_account" fill="clear" size="small" slot="end" >
                    <ion-icon name="refresh" color="success"></ion-icon>
                  </ion-button>   
                </ion-item>   
              </ion-col> 
              <ion-col size="5" class="ion-no-padding ion-no-margin ion-text-center">
                <ion-button size="small" fill="outline" color="primary" >
                    حساب جديد  
                 <ion-icon color="primary" name="person-add-outline"></ion-icon>
                </ion-button>
                 </ion-col>
            </ion-row>
           </ion-grid> 
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

 
  <ion-grid dir="rtl">
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="ion-padding"> 
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col size="6"  offset="2">
                <ion-label class="ion-padding"><strong>الحساب الرئيسي</strong></ion-label>
                <ion-item class="custInput">
                  <input  *ngIf="main_account" class="bnone" placeholder="اختر  الحساب  الرئيسي" list="accountmain" id="accountmainid" [(ngModel)]="selectedMainAccount.ac_name"  (change)="pickMainAccount($event)">
                  <datalist *ngIf="main_account" style="border: none;" id="accountmain" style="height: auto;max-height: 20px;">
                    <option *ngFor="let ac of main_account ; let i = index"   [value]="ac.ac_name"></option>
                  </datalist>
                  <ion-label *ngIf="!main_account">
                    <ion-text color="danger" >خطأ في التحميل </ion-text>
                   </ion-label>
                  <ion-button  *ngIf="!main_account" fill="clear" size="small" slot="end" >
                    <ion-icon name="refresh" color="success"></ion-icon>
                  </ion-button>   
                </ion-item>  
              </ion-col>
              <ion-col size="4" >
                <ion-label class="ion-padding"><strong>طبيعة الحساب </strong></ion-label>
                <ion-item class="custInput"> 
                  <ion-label  *ngIf="payInvo.sub_type == 'credit'"><strong> دائن </strong></ion-label>
                  <ion-label  *ngIf="payInvo.sub_type == 'debit'"><strong> مدين </strong></ion-label>

                  <ion-input  disabled [(ngModel)]="payInvo.sub_type" ></ion-input>
                </ion-item>
              </ion-col>
              
              <ion-col size="6" class="ion-margin-top"  offset="2">
                <ion-label class="ion-padding"><strong>اسم الحساب </strong></ion-label>
                <ion-item class="custInput"> 
                  <ion-input [(ngModel)]="payInvo.sub_name" ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="4"   class="ion-margin-top">
                <ion-label class="ion-padding"><strong>تصنيف الحساب   </strong></ion-label>
                <ion-item class="custInput">
                  <input  *ngIf="main_account" class="bnone" placeholder="اختر التصنيف   " list="accountcategory" id="accountcategoryid" [(ngModel)]="selectedCategory.cat_name"  (change)="pickAccountCategory($event)">
                  <datalist *ngIf="account_category" style="border: none;" id="accountcategory" style="height: auto;max-height: 20px;">
                    <option *ngFor="let ac of account_category ; let i = index"   [value]="ac.cat_name"></option>
                  </datalist>
                  <ion-label *ngIf="!main_account">
                    <ion-text color="danger" >خطأ في التحميل </ion-text>
                  </ion-label>
                  <ion-button  *ngIf="!main_account" fill="clear" size="small" slot="end" >
                    <ion-icon name="refresh" color="success"></ion-icon>
                  </ion-button>   
                </ion-item>  
              </ion-col>
              <ion-col size="4"  class="ion-margin-top">
                <ion-label class="ion-padding"><strong>الرصيد الإفتتاحي  </strong></ion-label>
                <ion-item class="custInput"> 
                  <ion-input [(ngModel)]="payInvo.sub_balance" ></ion-input>
                </ion-item>
              </ion-col> 
            </ion-row>
            <ion-item-divider class="ion-margin"></ion-item-divider>
            <ion-row class="ion-justify-content-center ion-margin-top">
              <ion-col size="8"class="ion-margin-top ion-text-center" >
                <ion-button  *ngIf="status == 'save'"   fill="outline" color="success"  (click)="save()" >
                  <ion-label class="ion-text-center"> حفــظ</ion-label>
                </ion-button>
                <ion-button *ngIf="status == 'edit'"  fill="outline"  color="warning"  (click)="update()" >
                  <ion-label class="ion-text-center"> تعديل </ion-label>
                </ion-button>
                <ion-button *ngIf="status == 'edit'"   fill="outline" color="danger"  (click)="presentAlertConfirm()" >
                  <ion-label class="ion-text-center"> حـذف</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid> 
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
