<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>التنبيهات </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row dir="rtl">
      <ion-col size="12">
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-segment scrollable="true" mode="ios"  [(ngModel)]="segmVal"  (ionChange)="segmChange($event)" >
            <ion-segment-button value="items">
              <h4> <ion-text color="dark"> الأصناف المنتهية</ion-text></h4>
            </ion-segment-button> 
            <ion-segment-button value="itemsminus">
              <h4> <ion-text color="dark">    اصناف بكميات سالبة</ion-text></h4>
            </ion-segment-button>
            <ion-segment-button value="customer">
              <h4> <ion-text color="dark"> مواعيد سداد العملاء  </ion-text>  </h4>
            </ion-segment-button>
            <ion-segment-button value="supplier">
              <h4> <ion-text color="dark"> مواعيد سداد الموردين</ion-text> </h4>
            </ion-segment-button>
           
          </ion-segment>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div *ngIf = "segmVal == 'customer' ">
   <ion-list class="ion-margin-top" >
    <ion-item *ngFor="let pay of payNotifArr">
      <ion-avatar >
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <ion-text>{{pay.title}} &nbsp;</ion-text>
      </ion-label><br>
      <ion-label slot="end">
        <ion-text color="primary"><strong>{{pay.nextMoPay  | dateAgo}}</strong> </ion-text>  
      </ion-label>
      <ion-button slot="end" (click)="getPayInvoDetail(pay , pay.sub_name,'edit')">عرض</ion-button>
    </ion-item> 
   </ion-list>
   <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showSpinner == true"> 
    <ion-col size="4" class="ion-text-center">  
   <h4 class="ion-text-center">
              <ion-spinner name="lines-sharp" slot ="end"></ion-spinner>
   </h4>   
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showEmptyPay == true"> 
    <ion-col size="4" class="ion-text-center">  
      <ion-label> 
        <ion-icon style="font-size: 30px;"  name="archive-outline"></ion-icon>
     </ion-label>
     <h4> لا توجد سجلات </h4> 
    </ion-col>
  </ion-row>
  </div>

  <div *ngIf = "segmVal == 'supplier' ">
    <ion-list class="ion-margin-top">
     <ion-item *ngFor="let perch of purchNotifArr">
       <ion-avatar >
         <ion-icon name="notifications-outline"></ion-icon>
       </ion-avatar>
       <ion-label>
         <ion-text>{{perch.title}} &nbsp;</ion-text>
       </ion-label>
       <ion-label slot="end">
      <ion-text color="primary"><strong>{{perch.nextMoPay  | dateAgo}}</strong> </ion-text>  
       </ion-label>
       <ion-button slot="end" (click)="getPayInvoDetail(perch , perch.sub_name,'edit')">عرض</ion-button>
     </ion-item> 
    </ion-list>

    <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showEmptyPurch == true"> 
      <ion-col size="4" class="ion-text-center">  
        <ion-label> 
          <ion-icon style="font-size: 30px;"  name="archive-outline"></ion-icon>
       </ion-label>
       <h4> لا توجد سجلات </h4> 
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showSpinner == true"> 
      <ion-col size="4" class="ion-text-center">  
     <h4 class="ion-text-center">
                <ion-spinner name="lines-sharp" slot ="end"></ion-spinner>
     </h4>   
      </ion-col>
    </ion-row>
  
   </div>

   <div *ngIf = "segmVal == 'items' ">
    <ion-list class="ion-margin-top">
     <ion-item *ngFor="let item of itemNotifArr ; let i = index">
       <ion-avatar >
         <ion-icon name="notifications-outline"></ion-icon>
       </ion-avatar>
       <ion-label>
         <ion-text> {{item.item_name}} &nbsp;</ion-text>
       </ion-label><br> 
     </ion-item> 
    </ion-list>
    

    <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showEmptyitems == true"> 
      <ion-col size="4" class="ion-text-center">  
        <ion-label> 
          <ion-icon style="font-size: 30px;"  name="archive-outline"></ion-icon>
       </ion-label>
       <h4> لا توجد سجلات </h4> 
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showSpinner == true"> 
      <ion-col size="4" class="ion-text-center">  
     <h4 class="ion-text-center">
                <ion-spinner name="lines-sharp" slot ="end"></ion-spinner>
     </h4>   
      </ion-col>
    </ion-row>
   </div>

   <div *ngIf = "segmVal == 'itemsminus' ">
    <ion-list class="ion-margin-top">
     <ion-item *ngFor="let item of itemMinusNotifArr ; let i =index">
       <ion-avatar >
         <ion-icon name="notifications-outline"></ion-icon>
       </ion-avatar>
       <ion-label>
         <ion-text>{{i+1}} - {{item.item_name}} &nbsp;</ion-text> الكمية:<ion-text><strong>{{item.quantity}}</strong> &nbsp;</ion-text>
       </ion-label><br> 
     </ion-item> 
    </ion-list>
    

    <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showEmptyitems == true"> 
      <ion-col size="4" class="ion-text-center">  
        <ion-label> 
          <ion-icon style="font-size: 30px;"  name="archive-outline"></ion-icon>
       </ion-label>
       <h4> لا توجد سجلات </h4> 
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top" *ngIf="showSpinner == true"> 
      <ion-col size="4" class="ion-text-center">  
     <h4 class="ion-text-center">
                <ion-spinner name="lines-sharp" slot ="end"></ion-spinner>
     </h4>   
      </ion-col>
    </ion-row>
   </div>

</ion-content>
